bin/*
src/*.o
src/util/*.o
config.cache
config.log
config.status
src/Makefile
src/conf.h
src/util/Makefile
src/.accepted
src/depend
src/util/depend

log/*

lib/plrfiles/*
lib/plrobjs/*
lib/etc/*
lib/core
syslog*

lib/backtrace*
.fastboot
